body {
	background-color: #F9F6D3;
}

.zyb-scroll-menu {
	position: fixed;
}

.zyb-scroll-menu .zyb-holder{
	height: 5px;
	background-color: black;
}

.zyb-scroll-menu .navbar {
	display: inline-block;
	margin-bottom: 0;
}

.zyb-scroll-menu .navbar-inner{
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.zyb-page-header {
	margin-bottom: 5px;
}

.zyb-page-header .logo {
	background: transparent url(images/logo.gif) no-repeat center;
	height: 48px;
	line-height: 48px;
	padding-top: 35px;
	width: 139px;
}

.contact-info h6 {
	margin: 2px;
}

.social-connect [class^="connect-"], .social-connect [class*=" connect-"] {
  background-image: none;
  background-repeat: no-repeat;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  vertical-align: text-top;
  width: 45px;
}
.social-connect h6{
	padding-top: 10px;
}
.social-connect .connect-facebook {
  background-image: url("images/facebook.jpg");
}

.zyb-bordered {
	border-radius: 5px;
	border: 1px solid lightgrey;
}

.zyb-panel {
	padding: 5px;
	margin-top: 5px;
}

.zyb-panel:first-child {
	margin-top: 0;
}

.zyb-panel.type2 {
	background-color: lightyellow;
}

.zyb-panel section {
	margin-top: 5px;
}